numpy-financial
xlrd==2.0.1
openpyxl == 3.1.2
gTTS == 2.5.1
pandas==2.1.2
SQLAlchemy==2.0.32
fastapi>=0.110.0
python-multipart
ujson
a2wsgi>=1.10.6
parse-accept-language
dropbox
pyncclient
boto3
packaging
nextcloud-api-wrapper
paramiko