APP_NAME=odoo-biometric-auth-gateway
APP_ENV=prod
APP_DEBUG=false
APP_SECRET_KEY=change-this

AWS_REGION=us-east-1

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

REKOGNITION_LIVENESS_THRESHOLD=80
REKOGNITION_MAX_ATTEMPTS=3
LIVENESS_MOCK_MODE=false

S3_BUCKET_NAME=biometric
S3_PUBLIC_BASE_URL=

ODOO_BASE_URL=https://erp.odootest.mvpstart.click
ODOO_DB_NAME=devlyn_com
ODOO_OAUTH_PROVIDER_ID=1
ODOO_EVENT_INGEST_URL=https://erp.odootest.mvpstart.click/biometric/api/v1/event
ODOO_API_KEY=change-this

AUTH_BASE_URL=https://auth.odootest.mvpstart.click

MYSQL_FALLBACK_ENABLED=true
MYSQL_FALLBACK_CONNECTION_FILE=/opt/auth-gateway/connection_values.json

GPS_REQUIRED=true

WEBAUTHN_ENABLED=false
WEBAUTHN_RP_ID=auth.odootest.mvpstart.click
WEBAUTHN_RP_NAME=Odoo Biometric Auth
